.social-icons a{
    
  display: inline-block;
  margin-right: 15px;
  color: #bbb;
  text-decoration: none;
}
.social-icons a:hover {
    color: #fff;
}
.brand-logo {
    
    
}
header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}